<div class="closeButton">
    <div class="Xbutt">
        X
    </div>
    <span id="cart" data-count= '<%= count %>' ></span>
</div>
<table>
    <thead>
        <tr>
            <th>Service</th>
            <th>Price</th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody id="servBody">
    </tbody>
</table>
